{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section id="form">
    <div class="form-all">
        <div class="form-grop">

            <h1 class="titre">Register</h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email ,{'attr':{'class':'form-control btn-2'}}) }}
                {{ form_row(registrationForm.Nom, {'attr':{'class':'form-control'}}) }}
                {{ form_row(registrationForm.Prenom, {'attr':{'class':'form-control'}}) }}
                {{ form_row(registrationForm.Adresse, {'attr':{'class':'form-control'}}) }}
                {{ form_row(registrationForm.Contacte, {'attr':{'class':'form-control'}}) }}
                {{ form_row(registrationForm.plainPassword,{'attr':{'class':'form-control'}}, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms,{'attr':{'class':'agee'}}) }}

                <button type="submit" class="btn btn-4">Register</button>
            {{ form_end(registrationForm) }}
     </div>           
    </div>
    
</section>        
{% endblock %}
