{% extends 'base.html.twig' %}

{% block title %}Beinvenu Votre Profil{% endblock %}

{% block body %}
       
    <section id="post2">
        <div class="bloc-rdv">
                
            
            <div class="nom_profil">
                    <div class="profilpro">
                        <div> {{ profil.Titre }} </div>
                         <div class="tre"></div>
                        <div> {{ profil.Description }} </div>
                         <div class="tre"></div>
                        <p>Profil Create le :{{ profil.CreatAt|date("m/d/Y") }}<p>
                          <div class="tre"></div>
                        <p>Dernier Mise a jour :{{ profil.UpdateAt|date("m/d/Y") }}<p>
                         <div class="tre"></div>
                        <p>Contacte :{{ profil.commentaire}}<p>
                         <div class="tre"></div>
                    </div>
                    <a href="{{profil.link}}" target="__blank">Lien</a>
            </div>
            
        </div>  
    </section> 
{% endblock %}