{% extends 'base.html.twig' %}

{% block title %}Beinvenu Votre Profil{% endblock %}

{% block body %}
     <section id="affiche">
        <div>
            <h2>Beinvenu Sur Mon Profils</h2>   
        </div>
    </section>  
    <section id="affiche-body">
        <div class="bloc-affiche">
             <div class="img-affiche">
                    <div class="bloc-img">
                        <div>
                             <img src="{{asset('uploads/image/' ~ profil.image)}}" alt="image" >
                        </div>
                    </div>
                    <div class="link">
                         <div>
                            <span class="fas fa-link fa-2x"></span>
                               <p>Rendez-Vous : <a href="{{profil.link}}" rel="stylesheet">{{profil.link}}</a></p> 
                            <div class="tre"></div>
                            <span class="fab fa-facebook fa-2x"></span> 
                                
                            <div class="tre"></div>
                            <span class="fab fa-twitter fa-2x"></span>
                            
                            <div class="tre"></div>
                            <span class="fab fa-linkedin fa-2x"></span>

                        </div>    
                    </div>
             </div>   
            <div class="info-affiche">
                    <div class="pro-affiche">
                        <h5>Nom et Prenom <span class="titre">{{ profil.Titre }}</span> </h5>
                         <div class="tre"></div>
                        <p>Description : <p>  
                        <p class="des">{{ profil.Description }}</p>
                         <div class="tre"></div>
                        <p>Profil Create le : {{ profil.CreatAt|date("m/d/Y") }}<p>
                          <div class="tre"></div>
                        <p>Dernier Mise a jour : {{ profil.UpdateAt|date("m/d/Y") }}<p>
                         <div class="tre"></div>
                        <p>Niveau Etude : <p>  
                        <p class="des"><span>{{ profil.NiveauEtude}}</span><p>
                         <div class="tre"></div>
                    </div>
            </div>
        </div>  
    </section> 
{% endblock %}