{% extends 'base.html.twig' %}

{% block title %}Beinvenu Votre Profil{% endblock %}

{% block body %}
     <section id="affiche">
        <div>
            <h2>Beinvenu Sur Mon Profils</h2>   
        </div>
    </section>  
    <section id="affiche-body">
        <div class="bloc-affiche">
             <div class="img-affiche">
                    <div class="bloc-img">
                        <div>
                             <img src="{{asset('uploads/image/' ~ profil.image)}}" alt="image" >
                        </div>
                    </div>
                    <div class="link">
                         <div>
                            <div class="fb">
                                <span class="fas fa-link fa-2x" classe="fas"></span>
                                <a href="{{profil.link}}" target="_blank" rel="stylesheet">{{profil.link}}</a>
                            </div>
                            <div class="tre"></div>
                            <div class="fb">
                                <span class="fab fa-github fa-2x" ></span> 
                                <p>@sdmilineam</p>
                            </div>    
                            <div class="tre"></div>
                            <div class="fb">
                                <span class="fab fa-twitter fa-2x"></span>
                                <p>@sdmilineam</p>
                            </div>
                            <div class="tre"></div>
                            <div class="fb">
                                <span class="fab fa-linkedin fa-2x"></span>
                                <p>@duong-milineam-sorn</p>
                            </div>
                        </div>    
                    </div>
             </div>   
            <div class="info-affiche">
                    <div class="pro-affiche">
                        <h5>Nom et Prenom <span class="titre">{{ profil.Titre }}</span> </h5>
                         <div class="tre"></div>
                        <p>Description : <p>  
                        <p class="des">{{ profil.Description }}</p>
                         <div class="tre"></div>
                        <p>Profil Create le : {{ profil.CreatAt|date("m/d/Y") }}<p>
                          <div class="tre"></div>
                        <p>Dernier Mise a jour : {{ profil.UpdateAt|date("m/d/Y") }}<p>
                         <div class="tre"></div>
                        <p>Niveau Etude : <p>  
                        <p class="des"><span>{{ profil.NiveauEtude}}</span><p>
                         <div class="tre"></div>
                    </div>
                    <div class="btn">
                         {% if app.user is same as(profil.user) %}
                            <form>
                                <button class="btn-2" formaction="{{ path('app_update_profilpro', {'id': profil.id})}}">Mise à jour</button>
                            </form>
                            {{ include('profil_pro/_delete.html.twig') }}
                        {% endif %}
                            
                    </div>
            </div>
        </div>  
    </section> 
{% endblock %}