{% extends 'base.html.twig' %}

{% block title %}Beinvenu Votre Profil{% endblock %}

{% block body %}
<section id="form">
    <div class="form-all">
        <div class="form-grop">
        
            {{ form_start(form)}}
           <div class="label">    
                {{ form_row(form.Titre,{'attr':{'class':'form-control'}}) }}
                {{ form_row(form.Description,{'attr':{'class':'form-control'}}) }}
                {{ form_row(form.CreatAt,{'attr':{'class':'form-control2'}}) }}
                {{ form_row(form.updateAt,{'attr':{'class':'form-control2'}}) }}
                {{ form_row(form.commentaire,{'attr':{'class':'form-control'}}) }}
            </div>     
            <input type="submit" value="Create Votr Profil" class="btn"> 
            {{ form_end (form) }}
     </div>           
    </div>
    
</section>              
{% endblock %}