{% extends 'base.html.twig' %}

{% block title %}Beinvenu Votre Profil{% endblock %}

{% block body %}
<section id="form">
    <div class="form-all">
        <div class="form-grop">
        
            {{ form_start(form)}}
           <div class="label">
                {{form_label(form.Titre) }}
              <span class="icon">{{ form_widget(form.Titre,{'attr':{'class':'form-control'}}) }}</span>  
                <div>
                    {{form_label(form.imageFile) }}
                    {{ form_widget(form.imageFile,{'attr':{'class':'form-control'}})}}
                </div>
                <div>    
                    {{form_label(form.Description) }}
                    {{ form_widget(form.Description,{'attr':{'class':'form-control'}}) }}
                </div> 
                <div>
                    {# {{ form_label(form.CreatAt, 'Date de publication') }}
                    {{ form_widget(form.CreatAt,{'attr':{'class':'form-control'}}) }} #}
                    {# {{ form_label(form.update_at, 'Date Mise à Jour') }}
                    {{ form_widget(form.update_at,{'attr':{'class':'form-control'}}) }} #}
                </div>
                <div>
                    {{ form_label(form.commentaire, 'Votre Diplome') }}
                    {{ form_widget(form.commentaire,{'attr':{'class':'form-control'}}) }}
                    
                </div>
                <div>
                    {{ form_label(form.link, 'Votre Lien De RDV') }}
                    {{ form_widget(form.link,{'attr':{'class':'form-control'}}) }}
                </div>
                
                
            </div>     
            <input type="submit" value="Create Votr Profil" class="btn btn-2"> 
            {{ form_end (form) }}
     </div>           
    </div>

</section>              
{% endblock %}