{% extends 'base.html.twig' %}

{% block title %}Hello ProfilProController!{% endblock %}

{% block body %}
<section id="post">
        <div>
            <h2>Recherche  Profils Votre Médecine ou Spécialise</h2>   
        </div>
    </section>
    
    <section id="post2">
             <article> 
                    {% for profil in profils %}
                            <div class="bloc-rdv">
                                <div class="img-pro">
                                   <img src="{{asset('uploads/image/' ~ profil.image)}}" alt="image" >
                                </div>
                                <div class="info-pro">
                                    <h4> {{ profil.Titre }} </h4>
                                    <div class="tre"></div>
                                    <p>Profil Create le :{{ profil.CreatAt|date("m/d/Y") }}<p>
                                    <div class="tre"></div>
                                    <p>Dernier Mise a jour :{{ profil.UpdateAt|date("m/d/Y") }}<p>
                                    <div class="tre"></div>
                                    <p>Contacte :{{ profil.commentaire}}<p>
                                    <div class="tre"></div>
                                </div>
                                <div class="btn-proprofil">
                                    <div class="btn">
                                        {% if app.user is same as(profil.user) %}
                                        <form>
                                            <button class="btn-2" formaction="{{ path('app_update_profilpro', {'id': profil.id})}}">Mise à jour</button>
                                        </form>
                                        {{ include('profil_pro/_delete.html.twig') }}
                                        {% endif %}
                                        <form>
                                            <button class="btn-2" formaction="{{path('app_affiche_profil', {'id': profil.id})}}">Voir Profil</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}      
            </article>   
    </section> 
{% endblock %}
