{% extends 'base.html.twig' %}

{% block title %}Hello ProfilPersonelController!{% endblock %}

{% block body %}
 <section id="profil">
        <div class="bloc-profil">
            <div class="image-perso">
                <div class="blog-pserso">
                    {# <img id ="photo_profil" src="{{ asset('images/uploads/' ~ user.image) | imagine_filter('my_thumb')}}" alt="{{ user.image }}"> #}
                </div>    
            </div>

            <div class="datauser">
                <div class="datauser2">
                    <p>Nom : {{app.user.Nom}}</p>
                    <div class="tre"></div>
                    <P>Prenom : {{app.user.Prenom}}</p>
                    <div class="tre"></div>
                    <p>Mail : {{app.user.email}}</p>
                    <div class="tre"></div>
                    <p>Adresse : {{app.user.Adresse}} <p>
                    <div class="bloc-btn">
                        <a target="__blank" href="{{path('app_create_profil', {'id': app.user.id})}}"><button class="btn-2">Create Profil Pro </button></a>
                        <a target="__blank" href="{{ path('app_update_profil',{'id': app.user.id})}}"><button class="btn-2">Modifier</button></a>
                         {{ include('profil_personel/_delete.html.twig') }}
                    {# {% if is_granted('ROLE_ADMIN') %}
                        <a target="__blank" href="{{ path('app_admin')}}"><button class="btn-2">Admin</button></a>
                    {% endif %}    #}
                    </div>
                </div>    
               
                 
            </div>
           
        </div>
    </section>
{% endblock %}
