
<header>
    <a href="{{path("app_home")}}"><img src="{{asset('image/logo.png')}}" alt="logo" class="img-logo"></a>
    <nav class="navMenu">
        <div id="burger">
             <i class="fas fa-times fa-2x"></i>
        </div>
    
               
        <ul class="menu">  
            <li><a class="a1" href="{{path("app_home")}}" class="a">Accueil<a></li>
            <li><a class="a2"href="{{path("app_profil_pro")}}" class="a">Profil PRO<a></li>
        {% if app.user %}    
            <li><a href="{{path("profil_personel")}}" class="a">Mon Profil<a></li>
        {% endif %}    
        {% if not app.user %}
            
            <li><a href="{{path("app_login")}}"  class="a"><button class="btn btn-15">Login/Register</button><a></li>
        {% else %}
            
            <li><a href="{{path("app_logout")}}"  class="a"><button class="btn  btn-15">Logout</button><a></li>
        {% endif %}        
        </ul>  
    </nav>
</header>