<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
        {% block header %}
            {{include("common/_header.html.twig")}}
        {% endblock %}
            {% block body %}{% endblock %}

         {{include("common/_footer.html.twig")}}  
         <script src="{{asset('libre/jquery-3.6.0.min.js') }}"></script>
    
        <script src="{{asset('js/script.js') }}"></script>  
    </body>
</html>
